<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if error_message%}
  <div class="position-absolute start-50 translate-middle  w-25 alert alert-warning alert-dismissible fade show" role="alert" style="top: 50px;">
    {{error_message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
</body>
</html>