<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center pt-5">
            <h1 class="">Dashboard</h1>
            <div>
                <a href="{% url "adddata" %}"><button class="btn btn-success">Add customer</button></a>
                <a href="{% url "logoutuser" %}"><button class="btn btn-success"> Logout</button></a>
                
            </div>
        </div>
        <div class="row p-4 mt-3 bg-black text-bg-dark">
            <div class="col  ">
            Name
            </div>
            <div class="col">
            Email
            </div>
            <div class="col">
            Phone
            </div>
            <div class="col">
            Address
            </div>
            <div class="col">
            GST number
            </div>
            <div class="col">
            Reminder
            </div>
            <div class="col">
            Action
            </div>
        </div>

        
        {% for x in customer %}
        <div class="row p-4 mt-1 ">
            <div class="col">
            {{x.name}}
            </div>
            <div class="col">
            {{x.email}}
            </div>
            <div class="col">
            {{x.phone}}
            </div>
            <div class="col">
           {{x.address}}
            </div>
            <div class="col">
            {{x.gstnumber}}
            </div>
            <div class="col">
                {{x.mailreminder}}
            </div>
            <div class="col">
                <div>
                    <a href="{% url "chat" x.email %}"><button class="btn btn-primary m-1">chat</button></a>
                    <a href="{% url "sendemail" x.id %}"><button class="btn btn-primary  m-1">mail</button></a>
                    <a href="{% url "edit" x.id %}"><button class="btn btn-primary  m-1">edit</button></a>
                    <a href="{% url "delete" x.id %}"><button class="btn btn-primary  m-1">delete</button></a>
                    
                    
                    
                </div>
            </div>
        </div>
        {% endfor %}
      
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>